.thumbs__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px 0 0 200px;
  padding: 20px 0 0 10px;
}
.thumbs__item {
  width: 25%;
  margin: 0 0 15px 0;
  padding: 0 10px;
}
.thumbs__thumbnail {
  max-width: 100%;
  margin: 0 0 10px 0;
}
.thumbs__info {
  display: flex;
}
.thumbs__profile {
  width: 36px;
  height: 36px;
  background-color: tomato;
  border-radius: 50%;
}
.thumbs__text {
  width: calc(100% - 36px);
  padding-left: 10px;
}
.thumbs__text--title {
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}
.thumbs__text--owner {
  font-size: 1rem;
  color: rgb(176, 176, 176);
  margin-bottom: 0.5em;
}
.thumbs__text--anal {
  font-size: 0.8rem;
  color: rgb(176, 176, 176);
}

@media screen and (max-width: 1500px) {
  .thumbs__item {
    width: 33%;
  }
}
@media screen and (max-width: 1000px) {
  .thumbs__item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .thumbs__wrapper {
    margin: 60px 0 0 50px;
    padding: 20px 0 0 10px;
  }
  .thumbs__item {
    width: 100%;
  }
}
